<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Directory.Templates" value="C:\Work\Upsideo.Agregateur\Templates\" />
    <add key="Directory" value="C:\Work\Upsideo.Agregateur\generated\" />
    <add key="docReader" value="C:\Work\Upsideo.Agregateur\Templates\AgregateurFirstPage.pdf" />
    <add key="PathUpImage" value="C:\Work\Upsideo.Agregateur\Templates\UP.png" />
    <add key="PathDownImage" value="C:\Work\Upsideo.Agregateur\Templates\DOWN.png" />
    <add key="PathEqualImage" value="C:\Work\Upsideo.Agregateur\Templates\Egal.png" />

  </appSettings>
</configuration>